body
{
  background-color: #DC493A !important;
}
 /* bandeau header */

header
{
  color: black;
  font-family: 'Bitter', serif;
  box-shadow: inset 17em 2.1em #26547C;

}

.logo
{
  font-size: 1.5em;
}

.nav-link
{
  color: black;
}

.btn
{
  margin: 1vh;
}

/* fin du bandeau header */

.card
{
  border: 0px !important;
  font-family: 'Bitter', serif;
  margin: 0px !important;
  background-color: #386FA4 !important;
}

.card-body
{
  margin: 1em;
  padding: 4em;
  /* box-shadow: 1px 1px 1px 1px grey; */
}

.card-search
{
  /* background: rgba(0, 0, 0, 0.1); */
  margin: 10em;
  padding: 4em;
  box-shadow: 3px 3px 3px 3px pink;
  border-radius: 12px;
  background-color: #386FA4 !important;
}

.card-faq
{
  background-color: #FFFEF7;
  margin-left: 3em;
  width: 50%;
}

.icone
{
  font-size: 1.7em;
  margin-right: 0.3em;
  color: white;
}

.navbar
{
  padding: 0rem !important;
}

.navmenu
{
  background-color: #26547C !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 2em;
  08415C
}

.titlefooter
{
  color: #F4F9E9;
}

.textfooter
{
  color: #F4F9E9;
  font-size: 0.7em;
  word-break: break-all;
}
