body
{
  background-color: blue !important;
}
 /* bandeau header */

header
{
  color: black;
  font-family: 'Bitter', serif;
  box-shadow: inset 17em 1em gold;

}

.logo
{
  font-size: 1.5em;
}

.nav-link
{
  color: black;
}

.btn
{
  margin: 1vh;
}

/* fin du bandeau header */

.card
{
  border: 0px !important;
  font-family: 'Bitter', serif;
  margin: 0px !important;
  background-color: lime !important;
}

.card-body
{
  margin: 1em;
  padding: 4em;
  /* box-shadow: 1px 1px 1px 1px grey; */
  /* border-radius: 12px; */
}

.card-search
{
  /* background: rgba(0, 0, 0, 0.1); */
  margin: 10em;
  padding: 4em;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 12px;
  background-color: #DED6CF;
}

.card-group
{
  margin: 3em;
}

.icone
{
  font-size: 1.5em;
  margin-left: 0.3em;
  color: grey;
}

.footer
{
  background-color: gold !important;
}
